*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.project
philotic.yml
philotic_queues.yml
.idea/
log/*.log
.rvmrc
.ruby-version
.ruby-gemset
