defaults: &defaults
  #connection settings
  rabbit_host: localhost
  
  #exchange settings
  exchange_name: philotic.headers
  # message_return_handler: method/proc
  
  #message settings
  routing_key: ~
  persistent: false
  immediate: false
  mandatory: false
  content_type: ~
  content_encoding: ~
  priority: ~
  message_id: ~
  correlation_id: ~
  reply_to: ~
  type: ~
  user_id: ~
  app_id: MY_APP
  timestamp: ~
  expiration: ~
  
development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
