available_or_mauve:
  hue: Mauve
  available: true
  x-match: any
  
available_mauve:
  hue: Mauve
  available: true
  x-match: all
  
available_or_fuchsia:
  hue: Fuchsia
  available: true
  x-match: any
  
available_fuchsia:
  hue: Fuchsia
  available: true
  x-match: all